* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(153, 190, 138);
    padding: 3%;
}

h1{
    text-align: center;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    background-color: white;

}
.sobre {
    position: absolute;
    top: 120px;
    left: 530px;
}
.descricao {
    position: absolute;
    top: 220px;
    width: 50%;
    left: 530px;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    
}
ul li:nth-child(odd) {
    background-color: azure;
}

h3 {
    text-align: center;
}

.distancia {
margin: 25px;
}

#Henrique {
    float: left;
    padding: 10px;
    background-color: rgb(5, 24, 2);
}

.imagem-container {
    height: 454px;
    position: relative;
}

